.dress{
    background-color: #f0f0f0;
    height: 1000px;
    width: 1350px;
    margin-top: 40px;
    margin-left: 250px;
    border-radius: 10px;

}


.brows{

    margin-left: 400px;
    font-size: 40px;
    color: black;
}
.casualboy{
    padding-left: 60px;
    padding-top: 60px;
}
.formalboy{
    display: flex;
    margin-left: 500px;
    margin-top: -370px;
}
.partygirl{
    padding-left: 50px;
    margin-top: -160px;
    padding: 200px;
    margin-left: -100px;
    margin-right: 100px;
}
.gymboy{
    display: flex;
   margin-left: 800px;
   margin-top: -600px;


 
}