.alsolike{
    margin-left: 570px;
    margin-top: 50px;
}
.prag{
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.prag1{
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 250px;
}
.ik1{
    margin-bottom: 20px;
}
.ik5{
    height:400px;
    width: 400px;
   margin-left: 250px;
}
.bt{
    margin-left: 750px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: saddlebrown;
}
.bt1{    margin-left: 10px;

    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: darkslategray;
}
.bt2{ margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: rgb(93, 72, 113);
}
.btt{
    margin-left: 750px;
    background-color: #f0f0f0;
    border-radius: 30px;
    border-color: #f0f0f0;
    border: #f0f0f0;
    height: 30px;
    width: 90px;
}
.btt1{
    margin-left: 10px;
    border-radius: 30px;
    border-color: #f0f0f0;
    border: #f0f0f0;
    height: 30px;
    width: 90px;
}.btt2{
    margin-left: 10px;
    border-radius: 30px;
    border-color: #f0f0f0;
    border: #f0f0f0;
    height: 30px;
    width: 90px;
}.btt3{
    margin-left: 10px;
    border-radius: 30px;
    border-color: #f0f0f0;
    border: #f0f0f0;
    height: 30px;
    width: 90px;

}
.bttt1{
    margin-left: 750px;
    width: 150px;
    margin-top: 30px;
    
}
.crt{
    margin-left:800px;
    background-color: black;
    color: white;
    height: 30px;
    width: 550px;
    height: 40px;
    border-radius: 30px;
}
.btt1{
    margin-top: -30px;
}
.l1{
    margin-left: 750px;
}
.line{
    width: 787px;
    margin-left: 730px;
}
.burst{
    height: 500px;
    margin-left: 230px;
    width: 400px;
    margin-top: 80px;
  
}
.l2{
    margin-left: 750px;
margin-top: -1450px;

}
.in{
    margin-left: 60px;
}
.line3{
    width: 1380px;
}
.shirt9{
    margin-bottom: 730px;
    margin-top: -850px;
  }
  .shirt8{
    margin-top:50px;
    margin-left: 850px;
    font-weight: bold;
    font-size: 30px;
  }
  .aman9{
    margin-bottom: -5px;
  }.ra9{
    height: 190px;
    margin-bottom: 150px;
    margin-top: -50px;
    margin-left: 50px;}
    .stars9{
        margin-bottom: -50px;
    }

    .alsolike1{
        margin-top: 80px;
    }
